name: beda_invest
description: "An intuitive Flutter app for managing and tracking your investments."
publish_to: "none" # Remove this line if you wish to publish to pub.dev

version: 1.0.0+1

environment:
  sdk: ">=3.4.0 <4.0.0"

dependencies:
  flutter:
    sdk: flutter

  flutter_localizations:
    sdk: flutter

  flutter_dotenv: ^5.1.0
  fl_chart: ^0.68.0
  http: ^1.2.1
  firebase_auth: ^4.17.7
  firebase_core: ^2.27.0
  auth_buttons: ^3.0.2
  image_picker: ^1.0.7
  easy_stepper: ^0.8.3
  pinput: ^4.0.0
  cloud_firestore: ^4.15.8
  provider: ^6.1.2
  shared_preferences: ^2.2.2
  shimmer: ^3.0.0
  firebase_storage: ^11.6.9
  photo_view: ^0.14.0
  path_provider: ^2.1.2
  money_formatter: ^0.0.5
  cached_network_image: ^3.3.1
  url_launcher: ^6.2.5
  rxdart: ^0.27.7
  loading_animation_widget: ^1.2.1
  crypto: ^3.0.3

  cupertino_icons: ^1.0.6

dev_dependencies:
  flutter_test:
    sdk: flutter

  flutter_lints: ^3.0.0

flutter:
  uses-material-design: true

  generate: true

  assets:
    - assets/
    - assets/images/
    # - assets/images/splash_image.png

  # An image asset can refer to one or more resolution-specific "variants", see
  # https://flutter.dev/assets-and-images/#resolution-aware

  # For details regarding adding assets from package dependencies, see
  # https://flutter.dev/assets-and-images/#from-packages

  # To add custom fonts to your application, add a fonts section here,
  # in this "flutter" section. Each entry in this list should have a
  # "family" key with the font family name, and a "fonts" key with a
  # list giving the asset and other descriptors for the font. For
  # example:
  # fonts:
  #   - family: Schyler
  #     fonts:
  #       - asset: fonts/Schyler-Regular.ttf
  #       - asset: fonts/Schyler-Italic.ttf
  #         style: italic
  #   - family: Trajan Pro
  #     fonts:
  #       - asset: fonts/TrajanPro.ttf
  #       - asset: fonts/TrajanPro_Bold.ttf
  #         weight: 700
  #
  # For details regarding fonts from package dependencies,
  # see https://flutter.dev/custom-fonts/#from-packages
